/*news*/
.news {
    padding-top: 70px;
    padding-bottom: 70px;
}

.news .container-fluid {
    width: 80%;
}

.news .bx {
    margin-bottom: 30px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.news .bx h4 {
    font-size: 20px;
    font-weight: 600;
    color: #1c1d1d;
    margin-top: 20px;
    margin-bottom: 20px;
}

.news .bx h4 a {
    color: #1c1d1d;
    text-decoration: none;
    transition: color 0.3s ease;
}

.news .bx h4 a:hover {
    color: #009fe3;
    text-decoration: none;
}

.news .bx img {
    width: 100%;
    display: block;
}

.news .bx .grid__image {
    display: block;
    position: relative;
    margin: 0 auto;
}

.news .bx .grid__image .hov {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgb(15 164 228 / 72%);
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    transition: .6s ease;
}

.news .bx:hover .grid__image .hov {
    transform: scale(1);
}

.news .bx .grid__image .hov p {
    color: #fff;
    font-size: 15px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.col-post-center {
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}

.post-date {
    position: absolute;
    background-color: #fff;
    color: #757575;
    font-size: 12px;
    bottom: 0;
    right: 0;
    padding: 0.5rem 1rem 0.4rem;
    z-index: 99;
}


@media only screen and (min-width : 1920px) and (max-width : 2560px) {}

@media only screen and (min-width : 1600px) and (max-width : 1919px) {}

@media only screen and (min-width : 1440px) and (max-width : 1599px) {}

@media only screen and (min-width : 1366px) and (max-width : 1439px) {}

@media only screen and (min-width : 1280px) and (max-width : 1365px) {
    .news .container-fluid {
        width: 85%;
    }



}

@media only screen and (min-width : 1200px) and (max-width : 1279px) {
    .news .container-fluid {
        width: 85%;
    }



}

@media only screen and (min-width : 1024px) and (max-width : 1199px) {

    .news {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .news .container-fluid {
        width: 90%;
    }

    .news h3 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .news h5 {
        font-size: 18px;
    }

    .news .bx h4 {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 15px;
    }


}

@media only screen and (min-width : 768px) and (max-width :1023px) {

    .news {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .news .container-fluid {
        width: 90%;
    }

    .news h3 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .news h5 {
        font-size: 18px;
    }

    .col-post-center {
        border: none;
    }



}

@media only screen and (min-width : 150px) and (max-width : 767px) {

    .news {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .news .container-fluid {
        width: 95%;
    }

    .news h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .news h5 {
        margin-top: 20px;
        font-size: 16px;
    }

    .news .btn {
        margin-top: 8px;
    }

    .col-post-center {
        border: none;
    }



}

@media only screen and (max-width : 375px) {}

@media only screen and (max-width : 360px) {}

@media only screen and (max-width : 320px) {
    .news h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .news h5 {
        font-size: 15px;
    }

    .news .btn {
        padding: 8px 22px;
        font-size: 12px;
    }

}