

/*certificate*/
.certificate {padding-top: 70px; padding-bottom: 40px;}
.certificate .container-fluid {width: 80%;}

.certificate img {width: 100%;}
.certificate .popup-gallery {width: 100%;}
.certificate .gal:hover {-webkit-transform: translateY(-5px); transform: translateY(-5px);}
.certificate .gal {margin-bottom: 30px; z-index: 1; position: relative; width: 100%; overflow: hidden; -webkit-transition: 0.5s; transition: 0.5s; border: 1px solid #ddd;}
.certificate .overlay {display: block; position: absolute; height: 100%; width: 100%; bottom: 0; z-index: 3;}
.certificate .text h5 {border-radius: 10px; background: rgb(255 192 35); font-size: 16px; padding: 10px 20px; display: inline-block; color: #fff; font-weight: 400; line-height: 26px; margin-bottom: 0;}
.certificate .text {text-align: center; -webkit-transition: 0.5s; transition: 0.5s; position: absolute; width: 100%; z-index: 10; top: 50%; left: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%);}
.certificate .gal:hover .overlay {background: rgb(0 159 227 / 75%); background: linear-gradient( 54deg, rgb(0 159 227 / 75%), rgb(66 119 191));}
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {outline: none;}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {outline: none;}
.mfp-title {display: none!important;}




@media only screen and (min-width : 1920px) and (max-width : 2560px){


}
@media only screen and (min-width : 1600px) and (max-width : 1919px){


}
@media only screen and (min-width : 1440px) and (max-width : 1599px){


}
@media only screen and (min-width : 1366px) and (max-width : 1439px){


}
@media only screen and (min-width : 1280px) and (max-width : 1365px){
.certificate .container-fluid {width: 85%;}



}
@media only screen and (min-width : 1200px) and (max-width : 1279px){
.certificate .container-fluid {width: 85%;}



}
@media only screen and (min-width : 1024px) and (max-width : 1199px){

.certificate {padding-top: 50px; padding-bottom: 20px;}
.certificate .container-fluid {width: 90%;}



}
@media only screen and (min-width : 768px) and (max-width :1023px){

.certificate {padding-top: 50px; padding-bottom: 20px;}
.certificate .container-fluid {width: 90%;}



}
@media only screen and (min-width : 150px) and (max-width : 767px){

.certificate {padding-top: 50px; padding-bottom: 20px;}
.certificate .container-fluid {width: 95%;}



}
@media only screen and (max-width : 375px){



}
@media only screen and (max-width : 360px){



}
@media only screen and (max-width : 320px){



}
