

/*download*/
.download {padding-top: 70px; padding-bottom: 50px;}
.download .container-fluid {width: 80%;}
.download .box {border: 1px solid #c7c7c7; padding: 12px; margin-bottom: 20px;}
.download h4 {font-weight: 500; font-size: 14px; margin-bottom: 0; width: 100%;}
.download a:hover {color: #ffffff;}

.download .buttonDownload {display: inline-block; position: relative; padding: 10px 25px; background-color: #e8e8e8; color: #575757; text-decoration: none; font-size: 0.9em; text-align: center; text-indent: 15px;}
.download .buttonDownload:hover {background-color: #009fe3; color: #fff;}
.download .buttonDownload:before, .buttonDownload:after {content: ' '; display: block; position: absolute; left: 15px; top: 52%;}
.download .buttonDownload:before {width: 10px; height: 2px; border-style: solid; border-width: 0 2px 2px; color: #009fe3;}
.download .buttonDownload:after {width: 0; height: 0; margin-left: 1px; margin-top: -7px; border-style: solid; border-width: 4px 4px 0 4px; border-color: transparent; border-top-color: inherit; animation: downloadArrow 2s linear infinite; animation-play-state: paused; color: #009fe3;}
.download .buttonDownload:hover:before {border-color: #fff;}
.download .buttonDownload:hover:after {border-top-color: #fff; animation-play-state: running;}

/* keyframes for the download icon anim */
@keyframes downloadArrow {
  0% {
    margin-top: -7px;
    opacity: 1;
  }
  
  0.001% {
    margin-top: -15px;
    opacity: 0;
  }
  
  50% {
    opacity: 1;
  }
  
  100% {
    margin-top: 0;
    opacity: 0;
  }
}




@media only screen and (min-width : 1920px) and (max-width : 2560px){


}
@media only screen and (min-width : 1600px) and (max-width : 1919px){


}
@media only screen and (min-width : 1440px) and (max-width : 1599px){


}
@media only screen and (min-width : 1366px) and (max-width : 1439px){


}
@media only screen and (min-width : 1280px) and (max-width : 1365px){
.download .container-fluid {width: 85%;}



}
@media only screen and (min-width : 1200px) and (max-width : 1279px){
.download .container-fluid {width: 85%;}



}
@media only screen and (min-width : 1024px) and (max-width : 1199px){

.download {padding-top: 50px; padding-bottom: 30px;}
.download .container-fluid {width: 90%;}



}
@media only screen and (min-width : 768px) and (max-width :1023px){

.download {padding-top: 50px; padding-bottom: 30px;}
.download .container-fluid {width: 90%;}



}
@media only screen and (min-width : 150px) and (max-width : 767px){

.download {padding-top: 50px; padding-bottom: 30px;}
.download .container-fluid {width: 95%;}



}
@media only screen and (max-width : 375px){



}
@media only screen and (max-width : 360px){



}
@media only screen and (max-width : 320px){

}
