

/*products*/
.products {padding-top: 70px; padding-bottom: 70px;}
.products .container-fluid {width: 80%;}





@media only screen and (min-width : 1920px) and (max-width : 2560px){


}
@media only screen and (min-width : 1600px) and (max-width : 1919px){


}
@media only screen and (min-width : 1440px) and (max-width : 1599px){


}
@media only screen and (min-width : 1366px) and (max-width : 1439px){


}
@media only screen and (min-width : 1280px) and (max-width : 1365px){
.products .container-fluid {width: 85%;}



}
@media only screen and (min-width : 1200px) and (max-width : 1279px){
.products .container-fluid {width: 85%;}



}
@media only screen and (min-width : 1024px) and (max-width : 1199px){

.products {padding-top: 50px; padding-bottom: 50px;}
.products .container-fluid {width: 90%;}



}
@media only screen and (min-width : 768px) and (max-width :1023px){

.products {padding-top: 50px; padding-bottom: 50px;}
.products .container-fluid {width: 90%;}



}
@media only screen and (min-width : 150px) and (max-width : 767px){

.products {padding-top: 50px; padding-bottom: 50px;}
.products .container-fluid {width: 95%;}



}
@media only screen and (max-width : 375px){



}
@media only screen and (max-width : 360px){



}
@media only screen and (max-width : 320px){

}
